body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #353535;
    font-family: "EB Garamond", "Gothic A1", "san-serif";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
ul, li {
    margin: 0px;
    padding: 0px;
}
.intro_section1 {
    height: 100vh;
}
.intro_section1 .main_title{
    font-size: 8vw;
    font-family: 'Gothic A1';
    font-weight: 700;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -12vw;
    margin-left: -27vw;
}
.intro_section1 .sub_title{
    font-size: 1.3vw;
    font-weight: 500;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: 9vw;
    margin-left: -9vw;
}
.intro_section1 .logo {
    position: absolute;
    top: 30px;
    left: 25px;
}
.intro_section1 .logo img {
    width: 9%;
}
.intro_section1 .site_title {
    position: absolute;
    bottom: 30px;
    left: 25px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: -0.5px;
    z-index: 1;
}
.intro_section1 .copyright {
    position: absolute;
    transform: rotate(90deg);
    top: 170px;
    right: -110px;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 800;
}
.sns_section {
    position: fixed;
    bottom: 30px;
    right: 35px;
    z-index: 2;
}
.sns_section .sns_deco {
    display: inline-block;
    width: 50px;
    height: 2.5px;
    background-color: #353535;
    vertical-align: center;
    margin-top: -5px;
    margin-right: 20px;
}
.sns_section ul {
    display: inline-block;
}
.sns_section ul li {
    font-weight: 800;
    font-size: 16px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
.sns_section ul li:first-child {
    margin-left: 0px;
}
a {
    text-decoration: none;
    color: inherit;
}
.intro_section2 {
    margin-top: -250px;
    padding: 100px;
}
.intro_section2 img {
    width:60%;
}